<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
    <h1>Weather Data API</h1>
    <p>URL format: http://127.0.0.1:5000/api/v1/station number/date</p>
    <p>URL example: <a href="http://127.0.0.1:5000/api/10/19881025">
        http://127.0.0.1:5000/api/v1/10/19881025</a>
        <br>
        URL format for all data of one station: http://127.0.0.1:5000/api/v1/station number/
        <br>
        URL format for annual data of one station is : http://127.0.0.1:5000/api/v1/yearly/(station number)/(year)/
        <br>
        Here is a table to help you (the STAID is the station number to add):
        {{data|safe}}
    </p>
</body>
</html>